{% extends 'base.html.twig' %}

{% block title %}Hello AnimeController!{% endblock %}

{% block body %}

    <div class="container-fluid p-0 m-0 g-0 js-filter">
        <section class="banner"
                 style="background-image: url('{{ response['attributes']['coverImage']['original'] }}');">
        </section>
    </div>
    <section class="anime">
        <div class="container">
{#            {{ dump(response) }}#}
            <h1 class="pb-3 border-bottom text-center my-5">{{ response['attributes']['canonicalTitle'] }}</h1>
            <div class="row">
                <div class="">
                    <ul class="d-flex">
                        <img src="{{ response['attributes']['posterImage']['tiny'] }}" alt="">
                        <li>
                            <img src="{{ asset("img/star.png") }}" class="star" alt="star">
                            <span class="fw-bold ">Average Rating :</span> {{ response['attributes']['averageRating'] }}
                            / 100
                        </li>
                        <li>
                            <span class="fw-bold ">Popularity Rating :</span> {{ response['attributes']['popularityRank'] }}
                        </li>
                        <li>
                            <span class="fw-bold ">Rating Rank :</span> {{ response['attributes']['ratingRank'] }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-3 mb-xs-4 mb-sm-4 mb-lg-0">
                    <ul class="list-group">
                        <h2 class="text-center">Information</h2>
                        <li>
                            <span class="fw-bold">Original Title :</span> {{ response['attributes']['abbreviatedTitles'][0] }}
                        </li>

                        <li>
                            <span class="fw-bold">Show Type :</span> {{ response['attributes']['showType'] }}
                        </li>

                        <li>
                            <span class="fw-bold">Episodes :</span> {{ response['attributes']['episodeCount'] ?? "??" }}
                        </li>

                        <li>
                            <span class="fw-bold">Episodes Length :</span> {{ response['attributes']['episodesLength'] ?? "??" }}
                        </li>

                        <li>
                            <span class="fw-bold">Status :</span> {{ response['attributes']['status'] }}
                        </li>

                        <li>
                            <span class="fw-bold">Aired :</span> {{ response['attributes']['startDate'] }}
                            to {{ response['attributes']['endDate'] ?? "??" }}
                        </li>

                        <li>
                            <span class="fw-bold">Duration :</span> {{ response['attributes']['episodeLength'] }} min
                        </li>

                        <li>
                            <span class="fw-bold">Rating :</span> {{ response['attributes']['ageRatingGuide'] }}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>


{% endblock %}
