{% extends 'base.html.twig' %}

{% block title %}ApiManga{% endblock %}

{% block body %}

    {{ include('_partials/_carousel.html.twig') }}

    <section class="animes">
        <div class="container">
            <h1 class="pb-3 border-bottom  mt-5 pt-5">Anime selection...</h1>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 row-cols-md-3 align-items-stretch g-4 py-5 ">
                {% for anime in dataAnimes %}
                    {# {{ dump(anime) }} #}
                    <div class="card-group">
                        <div class="card mx-auto" style="width: 18rem">
                            <img src={{ anime.attributes.posterImage.medium }} class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center"> {{ anime.attributes.canonicalTitle }}</h5>
                                {#                <p class="card-text">{{ anime.attributes.description }}</p> #}
                                                            <a href={{ path('anime_read', {"id": anime.id}) }} class="btn btn-primary ">Go</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <section class="manga">
        <div class="container">
            <h1 class="pb-3 border-bottom  mt-5 pt-5">Manga selection...</h1>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 row-cols-md-3 align-items-stretch g-4 py-5 ">
                {% for manga in dataManga %}
                    {# {{ dump(anime) }} #}
                    <div class="card-group">
                        <div class="card mx-auto" style="width: 18rem">
                            <img src={{ manga.attributes.posterImage.medium }} class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center"> {{ manga.attributes.canonicalTitle }}</h5>
                                {#                <p class="card-text">{{ anime.attributes.description }}</p> #}
{#                                <a href={{ path('anime_read', {"id": anime.id}) }} class="btn btn-primary ">Go</a>#}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
